In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [12]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc["A"]
df

Col1    2.706850
Col2    0.628133
Col3    0.907969
Col4    0.503826
Name: A, dtype: float64

In [13]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc["A": "D"]
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [16]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc[["A", "B"]]
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [21]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df.loc["A"]
type(df.loc["A"])

pandas.core.series.Series

In [17]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc["E"]
df

Col1    0.190794
Col2    1.978757
Col3    2.605967
Col4    0.683509
Name: E, dtype: float64

In [25]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc[["A", "D"]]
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
D  0.188695 -0.758872 -0.933237  0.955057

In [27]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc["A", "Col1"]
df

np.float64(2.706849839399938)

In [29]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc[["A", "E"], ["Col1", "Col3"]]
df

       Col1      Col3
A  2.706850  0.907969
E  0.190794  2.605967

In [30]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc[["A", "C"], ["Col2", "Col4"]]
df

       Col2      Col4
A  0.628133  0.503826
C  0.740122 -0.589001

In [36]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc["A":"C", ["Col2"]]
df

       Col2
A  0.628133
B -0.319318
C  0.740122

In [37]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc["D", "Col3"]
df

np.float64(-0.9332372163009188)

In [38]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc["D", "Col3"]
df

np.float64(-0.9332372163009188)

In [39]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc[["A", "E"], ["Col1", "Col3"]]
df

       Col1      Col3
A  2.706850  0.907969
E  0.190794  2.605967

In [42]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.loc[["A"], ["Col2", "Col4"]]
df

       Col2      Col4
A  0.628133  0.503826

In [43]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.iloc[0]
df

Col1    2.706850
Col2    0.628133
Col3    0.907969
Col4    0.503826
Name: A, dtype: float64

In [44]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.iloc[0, 2]
df

np.float64(0.9079694464765431)

In [45]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.iloc[[0, 1, 2]]
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [46]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.iloc[[0, 1, 2], [2, 3]]
df

       Col3      Col4
A  0.907969  0.503826
B -0.848077  0.605965
C  0.528813 -0.589001

In [47]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.iloc[:3]
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [48]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.iloc[:2, 3:]
df

       Col4
A  0.503826
B  0.605965

In [49]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.iloc[:3, :4]
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001

In [54]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df.iloc[2:5, 3:4]
df

       Col4
C -0.589001
D  0.955057
E  0.683509

In [58]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df = df[df["Col4"]>0]
df

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df.query("Col4>0")

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [62]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df.query("Col4>0 and Col1>0.5")

       Col1      Col2      Col3      Col4
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965

In [63]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df.query('Col2 > 0.8 or Col2 < 0 and Col1 > 0.5')

       Col1      Col2      Col3      Col4
B  0.651118 -0.319318 -0.848077  0.605965
E  0.190794  1.978757  2.605967  0.683509

In [ ]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df.query("(Col2 > 0.8 or Col2 < 0) and Col1 > 0.5")

       Col1      Col2      Col3      Col4
B  0.651118 -0.319318 -0.848077  0.605965

In [75]:
np.random.seed(101)
df = pd.DataFrame(data=np.random.randn(5,4), index=["A", "B", "C", "D", "E"], columns=["Col1", "Col2", "Col3", "Col4"])
df.query("(Col3 > 0.4 or Col4 > 0.7) and Col1 < 0.2")

       Col1      Col2      Col3      Col4
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509